.btn_frame {
	background: $pri;
	border: none;
	border-radius: 2px;
	color: $white;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 5px;
	padding: 10px 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	&:hover {
		background: lighten($pri, 50%);
		color: $pri;
		font-weight: 700;
	}
	&::after {
		margin: -5px;
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 10px;
		height: 10px;
		border-bottom: 2px solid $pri;
		border-right: 2px solid $pri;
		transition: 0.5s;
	}
	&:hover:after {
		border-color: lighten($pri, 25%);
		height: 99%;
		width: 99%;
	}

	&::before {
		margin: -5px;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		border-top: 2px solid $pri;
		border-left: 2px solid $pri;
		transition: 0.5s;
	}
	&:hover:before {
		border-color: lighten($pri, 25%);
		height: 99%;
		width: 99%;
	}
}

.btn-play {
	background: rgba($pri, 0.75);
	border: 5px solid $white;
	border-radius: 50%;
	display: flex;
	left: 35%;
	padding: 7px;
	position: inherit;
	top: 35%;
	z-index: 510;
	&::after {
		content: '';
		width: 100px;
		height: 100px;
		border-radius: 100%;
		border: 5px solid $white;
		box-shadow: 0 0 64px;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: background 1s;
		animation: pulse 1.5s infinite;
		z-index: 500;
	}
	&::before {
		content: '';
		border-radius: 100%;
		border: 3px solid $white;
		box-shadow: 0 0 72px $white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all 0.5s ease-in-out 0s;
		animation: pulse 3s infinite 1.5s;
		z-index: 500;
	}
	&:hover::after,
	&:hover::before {
		animation: none;
		background: $pri;
		box-shadow: none;
		cursor: pointer;
	}
	& svg {
		align-self: center;
		cursor: pointer;
		fill: darken($white, 3%);
		margin: 1.3rem;
		position: relative;
		right: 3px;
		width: 2.5rem;
		z-index: 501;
	}
}

@keyframes pulse {
	0% {
		width: 110%;
		height: 110%;
		opacity: 0.6;
	}
	100% {
		width: 150%;
		height: 150%;
		opacity: 0;
	}
}

.google-btn {
	cursor: pointer;
	margin-top: 5px;
	width: 100%;
	height: 42px;
	background-color: $google-blue;
	border-radius: 2px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

	transition: box-shadow 0.3s ease;

	.google-icon-wrapper {
		position: absolute;
		margin-top: 1px;
		margin-left: 1px;
		width: 40px;
		height: 40px;
		border-radius: 2px;
		background-color: white;
	}
	.google-icon {
		position: absolute;
		margin-top: 11px;
		margin-left: 11px;
		width: 18px;
		height: 18px;
	}
	.btn-text {
		float: right;
		margin: 11px 40px 0 0;
		color: white;
		font-size: 14px;
		letter-spacing: 0.2px;
	}
	&:hover {
		box-shadow: 0 0 6px $google-blue;
	}
	&:active {
		background: $button-active-blue;
	}
}
