video {
	object-fit: cover;
}

.videoHero {
	height: 90vh;
	margin-bottom: 7rem;
	overflow: hidden;
	position: relative;
	width: 100%;
	&-content {
		padding: 20px;
		width: 70%;
	}
	&-frame {
		content: '';
		height: 27rem;
		width: 15rem;
		border: 1.3rem solid $pri;
		position: absolute;
		z-index: 100;
	}
	&-overlay {
		align-items: center;
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.75) 30%,
			rgba(255, 255, 255, 0) 67%
		);
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		z-index: 100;
	}
	&-title {
		color: #f2f2f2;
		font-family: 'Montserrat', sans-serif;
		font-size: 3rem;
		width: 425px;
		position: relative;
		padding: 35px 0 20px 35px;
		z-index: 102;
	}
	&-paragraph {
		color: $white;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		max-width: 500px;
		position: relative;
		left: 65px;
		top: 30px;
		z-index: 102;
	}
	&-logo {
		padding: 0 35px;
		position: relative;
		z-index: 103;
		& svg {
			height: 320px;
			& #dark {
				fill: #022577cc;
			}
			& #white {
				fill: #ffffffd9;
			}
		}
	}
}
