._test {
	box-shadow: inset 0 0 0 1px lighten($alert, 5%);
	background-color: bisque;
	height: 100px;
	// width: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	outline: none;
}

body {
	align-items: center;
	background-color: $white;
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Roboto', sans-serif;
	height: auto;
	width: 100%;
}

main {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	width: 100vw;
}

.mb_1 {
	margin-bottom: 5px;
}
.mb_5 {
	margin-bottom: 20px;
}

.mt_1 {
	margin-top: 5px;
}
.mt_5 {
	margin-top: 20px;
}

.align {
	align-items: center;
	display: flex;
	justify-content: center;
	&_center {
		align-items: flex-start;
		display: flex;
		justify-content: center;
	}
	&_left {
		justify-content: flex-start;
		display: flex;
	}
	&_right {
		justify-content: flex-end;
		display: flex;
	}
}

.w_25 {
	width: 25%;
}
.w_50 {
	width: 50%;
}
.w_80 {
	width: 80%;
}
.w_100 {
	width: 100%;
}
