//* Colors
$pri: #23548a;
$sec: #282c34;
$white: #f2f2f2;
$black: #32383d;
$alert: #dc143c;

$google-blue: #4285f4;
$button-active-blue: #1669f2;

// *Fonts familly
$h: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
	'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$p: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
